<div class="footer">
    <div class="footer-menu">
        <div class="footer-menu-title">STORE</div>
        <div class="store">
            <div class="store-link">
                <a href="#" title="스마트스토어">Smart Store</a>
            </div>
            <div class="store-link">
                <a href="#" title="아이디어스">iDus</a>
            </div>
            <div class="store-link">
                <a href="#" title="인스타그램">Instagram</a>
            </div>
        </div>
    </div>
    <div class="brandname">Minpooh Factory</div>
    <div class="copyright">
        Copyright ⓒ 2024 Minpooh. All Rights Reserved.
    </div>
</div>