<th:block th:fragment="headerFragment">
    <div class="header">
        <nav>
            <a href="/" class="nav-logo" title="minpoohfactory"></a>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/about" title="about">About</a>
                </li>
                <li class="nav-item">
                    <a href="/item" title="item">Item</a>
                </li>
                <li class="nav-item">
                    <a href="/community" title="community">Community</a>
                </li>
            </ul>
        </nav>
    </div>
</th:block>