<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:include="/common/head"></th:block>
    </head>
    <body>
        <th:block th:include="/layout/header"></th:block>
        <div class="community-title">Community</div>
        <div class="community-view-wrap">
            <div class="community-view-title">
                [EVENT] 민푸팩토리 새로운 아이템 이름 맞추기 이벤트
            </div>
            <div class="community-view-date">
                2025-01-13
            </div>
            <div class="community-view-image">
                <img src="/asset/image/minpoohfactoryevent.jpg"/>
            </div>
            <div class="community-view-desc">
                ✨𝑬𝑽𝑬𝑵𝑻✨
                <br/><br/>
                민푸팩토리 새로운 아이템 Coming Soon-!
                <br/><br/>
                민푸팩토리 뉴아이템 이름 맞추고,<br/>
                쿠폰받아갈 사람😋?!
                <br/><br/>
                정답을 맞추면?! 총 5분을 추첨하여<br/>
                [민푸팩토리 뉴아이템 쿠폰]을 선물로 드려요🍫
                <br/><br/>
                ⭐️ 참여방법 ⭐️<br/>
                ① 민푸팩토리 인스타 그램 계정 ‘팔로우👤’<br/>
                ② 해당 이벤트 게시글 ‘좋아요❤’<br/>
                ③ 예상되는 뉴아이템 이름 ‘댓글 작성🗨’
                <br/><br/>
                (댓글에 친구소환하면 당첨확률UP!)<br/>
                (기대평까지 남겨주면 당첨확률 UP! UP!)
                <br/><br/>
                🍫 상품 | 민푸팩토리 뉴아이템 쿠폰(5명)<br/>
                🍫 기간 | 25.01.14.(화) ~ 25.02.13.(목)<br/>
                🍫 발표 | 25.02.14(금) 오후 6시 *당첨자 개별연락
            </div>
            <div class="community-view-back">
                <a href="javascript:history.back();" class="community-view-back-button">돌아가기</a>
            </div>
        </div>
        <th:block th:include="/layout/footer"></th:block>
    </body>
</html>