<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:include="/common/head"></th:block>
    </head>
    <body>
        <th:block th:include="/layout/header"></th:block>
        <div class="slide-wrap-about">
            <div class="about-section about-one">
                <div class="about-section-question">
                    당신의 마지막 선물은
                    <br/>
                    언제였나요?
                </div>
            </div>
            <div class="about-section about-two">
                <div class="about-section-present">
                    <div>선물</div>
                    <div class="eg">;present</div>
                </div>
                <div class="about-section-desc">
                    인정을 담아 주는 물건,
                    <br/>
                    또는
                    <br/>
                    그것에 상응하는 것
                </div>
                <!-- <div class="about-section-desc2">
                    선물을 고민하는 순간부터<br/>
                    선물을 전달하는 순간까지<br/>
                    <br/>
                    당신의 선물에 특별함을 더하는 것이<br/>
                    민푸팩토리의 가장 중요한 가치입니다.<br/>
                </div> -->
            </div>
            <div class="about-section about-three">
                <div class="about-section-title">
                    특별한 선물을 위한
                    <br/>
                    민푸팩토리의 노력
                </div>
                <div class="about-three-slide">
                    <div class="three-slide-container">
                        <div class="three-slide-photo"></div>
                        <div class="three-slide-text">
                            <div class="three-slide-title">
                                기술과 품질
                            </div>
                            <div class="three-slide-desc">
                                민푸팩토리는 언제나 고퀄리티의 제품만을 만들어냅니다.<br/>
                                비슷한 제품은 많아도 전문디자이너의 기술과<br/>
                                가격보다는 퀄리티를 선택한 민푸팩토리만의<br/>
                                제품은 많은 고객분들이 선택해주시는 이유입니다.
                            </div>
                            <div class="three-slide-num">01</div>
                            <div class="three-slice-pagination">
                                <div class="three-slide-pagination-bullet active"></div>
                                <div class="three-slide-pagination-bullet"></div>
                                <div class="three-slide-pagination-bullet"></div>
                                <div class="three-slide-pagination-bullet"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-section about-last">
                <div class="about-section-closing">
                    당신의 선물에
                    <br/>
                    <span class="emphasize">" 특별함 "</span> 을 더할 수 있도록
                    <br/>
                    <br/>
                    민푸팩토리가 함께합니다.
                </div>
            </div>
        </div>
        <th:block th:include="/layout/footer"></th:block>
        <th:block th:include="/common/script"></th:block>
        <script>
            //스크롤시 하나씩 슬라이딩 되도록 스크립트 넣기
        </script>
    </body>
</html>