<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{common/head :: headFragment}"></head>
    <body>
        <th:block th:replace="~{layout/header :: headerFragment}"></th:block>
        <div class="community-title">Community</div>
        <div class="community-view-wrap">
            <div class="community-view-title">
                [EVENT] 2025 새해맞이 카톡 플러스친구 추가혜택 3,000원 할인!
            </div>
            <div class="community-view-date">
                2025-01-01
            </div>
            <div class="community-view-image">
                <img src="/asset/image/minpoohfactorynews.jpg"/>
            </div>
            <div class="community-view-back">
                <a href="javascript:history.back();" class="community-view-back-button">돌아가기</a>
            </div>
        </div>
        <th:block th:replace="~{layout/footer :: footerFragment}"></th:block>
    </body>
</html>