<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:include="/common/head"></th:block>
    </head>
    <body>
        <th:block th:include="/layout/header"></th:block>
        <div class="item-wrap">
            <div class="item-section">
                <div class="item-section-title">Custom</div>
                <div class="item-section-desc">세상에 단 하나뿐인 나만의 선물</div>
                <div class="item-section-photoline">
                    <div class="item-section-photo" style="background-image: url(/asset/image/pepero.jpg)"></div>
                    <div class="item-section-photo" style="background-image: url(/asset/image/pepero2.jpg)"></div>
                    <div class="item-section-photo" style="background-image: url(/asset/image/pepero.jpg)"></div>
                </div>
            </div>
            <div class="item-section">
                <div class="item-section-title">Unique Item</div>
                <div class="item-section-desc">민푸팩토리에서만 만나볼 수 있는 유니크 아이템</div>
                <div class="item-section-photoline">
                    <div class="item-section-photo" style="background-image: url(/asset/image/label.jpg)"></div>
                    <div class="item-section-photo" style="background-image: url(/asset/image/handle.jpg)"></div>
                    <div class="item-section-photo" style="background-image: url(/asset/image/birthday.jpg)"></div>
                    <div class="item-section-photo" style="background-image: url(/asset/image/package.jpg)"></div>
                    <div class="item-section-photo" style="background-image: url(/asset/image/package2.jpg)"></div>
                </div>
            </div>
        </div>
        <th:block th:include="/layout/footer"></th:block>
        <th:block th:include="/common/script"></th:block>
    </body>
</html>