<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{common/head :: headFragment}"></head>
    <body>
        <th:block th:replace="~{layout/header :: headerFragment}"></th:block>
        <div class="item-wrap">
            <div class="item-section">
                <div class="item-section-title">Custom</div>
                <div class="item-section-desc">세상에 단 하나뿐인 나만의 선물</div>
                <div class="item-section-photoline">
                    <div class="item-section-photobox">
                        <a href="#" title="온리원빼빼로" class="item-section-photo" style="background-image: url(/asset/image/pepero.jpg)"></a>
                    </div>
                    <div class="item-section-photobox">
                        <a href="#" title="온리원빼빼로" class="item-section-photo" style="background-image: url(/asset/image/pepero2.jpg)"></a>
                    </div>
                    <div class="item-section-photobox">
                        <a href="#" title="온리원빼빼로" class="item-section-photo" style="background-image: url(/asset/image/pepero.jpg)"></a>
                    </div>
                </div>
            </div>
            <div class="item-section">
                <div class="item-section-title">Unique Item</div>
                <div class="item-section-desc">민푸팩토리에서만 만나볼 수 있는 유니크 아이템</div>
                <div class="item-section-photoline">
                    <div class="item-section-photobox">
                        <a href="#" title="스티커종이" class="item-section-photo" style="background-image: url(/asset/image/label.jpg)"></a>
                    </div>
                    <div class="item-section-photobox">
                        <a href="#" title="자동차모양선물손잡이" class="item-section-photo" style="background-image: url(/asset/image/handle.jpg)"></a>
                    </div>
                    <div class="item-section-photobox">
                        <a href="#" title="벌쓰데이포장지" class="item-section-photo" style="background-image: url(/asset/image/birthday.jpg)"></a>
                    </div>
                    <div class="item-section-photobox">
                        <a href="#" title="패키지봉투소" class="item-section-photo" style="background-image: url(/asset/image/package.jpg)"></a>
                    </div>
                    <div class="item-section-photobox">
                        <a href="#" title="패키지봉투대" class="item-section-photo" style="background-image: url(/asset/image/package2.jpg)"></a>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="~{layout/footer :: footerFragment}"></th:block>
        <th:block th:replace="~{common/script :: scriptFragment}"></th:block>
    </body>
</html>