<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:include="/common/head"></th:block>
    </head>
    <body>
        <th:block th:include="/layout/header"></th:block>
        <div class="main">
            <div class="main-section">
                <div class="main-image"></div>
            </div>
            <div class="main-section section-about">
                <div class="content">
                    <div class="content-title">MINPOOH Factory</div>
                    <div class="content-desc">
                        누구나 받는 선물 말고 어떤게 있을까? 그 고민은 민푸팩토리가 대신 해드립니다.
                    </div>
                    <div class="content-desc">
                        여러분은 세상에 하나뿐인 선물을 선물할 기쁜 마음만 준비해주세요~!
                    </div>
                </div>
            </div>
            <div class="main-section section-items">
                <div class="main-section-title">Items</div>
            </div>
        </div>
        <th:block th:include="/layout/footer"></th:block>
    </body>
</html>