<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:include="/common/head"></th:block>
    </head>
    <body>
        <th:block th:include="/layout/header"></th:block>
        <div class="news-wrap">
            <div class="news-title">EVENT</div>
            <ul class="news-menu">
                <li class="news-menu-button">
                    <a href="#" title="News">News</a>
                </li>
                <li class="news-menu-button">
                    <a href="#" title="Event">Event</a>
                </li>
                <li class="news-menu-button">
                    <a href="#" title="Q&A">Q&A</a></li>
            </ul>
            <div class="news-section">
                <div class="news-section-container">
                    <a href="#" title="민푸팩토리뉴아이템이름맞추기이벤트">
                        <div class="news-section-photo">
                            <img src="/asset/image/minpoohfactoryevent.jpg"/>
                        </div>
                        <div class="news-section-title">
                            [EVENT] 민푸팩토리 새로운 아이템 이름 맞추기 이벤트
                        </div>
                        <div class="news-section-date">
                            25/01/14 - 25/02/14
                        </div>
                    </a>
                </div>
                <div class="news-section-container">
                    <a href="#" title="민푸팩토리카톡플러스친구추가이벤트">
                        <div class="news-section-photo">
                            <img src="/asset/image/minpoohfactorynews.jpg"/>
                        </div>
                        <div class="news-section-title">
                            [EVENT] 2025 새해맞이 카톡 플러스친구 추가혜택 3,000원 할인!
                        </div>
                        <div class="news-section-date">
                            25/01/14 - 25/02/14
                        </div>
                    </a>
                </div>
                <div class="news-section-container">
                    <a href="#" title="민푸팩토리홈페이지오픈안내">
                        <div class="news-section-photo">
                            <img src="/asset/image/homepage.jpg"/>
                        </div>
                        <div class="news-section-title">
                            [NEWS] 민푸팩토리 홈페이지 오픈 안내
                        </div>
                        <div class="news-section-date">
                            25-01-01
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <th:block th:include="/layout/footer"></th:block>
    </body>
</html>